# ==========================================
# GLOBAL APP SETTINGS
# ==========================================
APP_ENV=development
LOG_LEVEL=DEBUG

# ==========================================
# INFRASTRUCTURE (DOCKER COMPOSE SECRETS)
# ==========================================
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# ==========================================
# GO SERVICES CONFIGURATION
# ==========================================
DB_URL=
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_USE_SSL=
NATS_URL=